@model IEnumerable<SistemaDeEstacionamentos.Model.Tickets>

@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>
<body>
    <table class="table">

        <thead>
            <tr>
                <th>Handle</th>
                <th>Horario de Entrada</th>
                <th>Hora da Validação</th>
                <th>Valor</th>
                <th>Estacionamento de Origem</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var tickets in ViewBag.Tickets)
            {
            <tr>
                <td>@tickets.Handle</td>
                <td>@tickets.DataHoraEntrada</td>
                <td>@tickets.DataHoraValidacao</td>
                <td>@tickets.Valor</td>
                <td>@tickets.EstacionamentoDeOrigem</td>
                <td><a class="btn btn-primary" href="/Tickets/ValidarTicket?Handle=@tickets.Handle">Validar</a></td>


            </tr>
            }
        </tbody>

    </table>
    

    <button id=" =GerarTicket" name=" Gerar-Ticket" class=" btn btn-success" onclick="window.location.href = '/Tickets/GerarTicket';">Gerar Ticket</button>
</body>
</html>



